@import url('https://fonts.googleapis.com/css?family=Barlow');
body{
  margin: 0;
  padding: 0;
  background: #34495e;
}
.h1omg{
  font-family: Barlow;
  font-size: 20px;
  color: white;
  text-align: center;
}
.eyes{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye{
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.linknormal:link{
  text-decoration: none;
  color: #2ecc71;
}
.linknormal:visited{
  text-decoration: none;
  color: #2ecc71;
}
.linknormal:hover{
  text-decoration: none;
  color: #2ecc71;
}
.linknormal:active{
  text-decoration: none;
  color: #2ecc71;
}

.ball{
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 15px solid #333;
}
